body{
  background-image: url("../img/Witching\ Hour.jpg");
}
*{
  font-family: Arial;
}
.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px 17px; 
  border: 1px outset #800000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  max-width: 960px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  }

@media only screen and (max-width: 768px) {
  body {
    background: #c31432 !important;
  }
  .container{
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%); 
  }
}
div .logo2{
  border-radius: 71px 72px 72px 0px; 
  border: 5px ridge #FF352D; padding: 20px; background: #F4EBEB;
  width: 500px; 
  height:550px;
}
.but {
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  border-radius: 20px;
  font-family: Arial;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  width: 400px;
}

.but:hover {
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff !important;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.price {
  color: red;
  text-decoration: none;
  font-size: 36px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  div .logo2{
    position:relative;
    border-radius: 0px 0px 0px 0px; 
    border: 2px ridge; background: #F4EBEB;
    width: 300px; 
    padding: 0;
    height:300px;
  }
  .but {
    width: 300px;
  }
}



 