/* Estilos generales */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
  }
  
  body {
  font-family: Arial, sans-serif;
  background-image: url("../img/Witching\ Hour.jpg");
  }
  .container {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px 17px; 
    border: 1px outset #800000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    max-width: 960px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    }
    
  @media only screen and (max-width: 768px) {
    body {
      background: #c31432 !important;
    }
    .container{
      position: absolute;
      top: 0%;
      left: 0%;
      transform: translate(0%, 0%); 
    }
  }
  
 
  h1 {
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
  }
  
  form {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  /* Estilos de los campos de formulario */
  .form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 300px;
  }
  
  label {
  font-size: 1.2rem;
  margin-bottom: 5px;
  }

  
  button[type="submit"] {
  padding: 10px 20px;
  background-color: #c31432;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out; /* completamos la transición */
  }
  
  /* Estilos del formulario */
  .formulario {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
  }
  
  .formulario h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  margin-top: 0;
  margin-bottom: 30px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  }
  
  .formulario p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
  }
  
  .formulario a {
  display: block;
  width: 100%;
  }
  
  .formulario button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 20px;
  background-color: #d35400;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  }
  
  button:hover[type="submit"] {
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
  }
  
  .formulario img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin-top: 30px;
  border-radius: 10px;
  }
  
  @media (max-width: 768px) {
  .formulario {
  width: 100%;
  }
  }

  .formulario h2,
  .formulario p {
    color: black;
  }