{% extends 'base.html.twig' %}

{% block title %}Promotor index{% endblock %}

{% block body %}

    <div class="container text-center">
        <div class="row mt-5">
            <div class="col">
                <img src="{{ simple }}" />
            </div>
        </div>
            {# <div class="col">
                <img src="{{ changeColor }}" />
            </div>
            <div class="col">
                <img src="{{ changeBgColor }}" />
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <img src="{{ withImage }}" />
            </div>
        </div> #}
    </div> 

{% endblock %}